:root{
 --cor-principal: #ffffff;
--cor-secundaria: #c0c0c0;
--botao-destaque: #167bf7;
--cor-de-fundo: #00030c;
}




*{
margin: 0%;
padding: 0%;

}
body{
color: var(--cor-principal);

}


.principal{
background-image: url("img/bg.png");  
background-size: cover;
background-repeat:no-repeat;
}
.container{
height: 100vh;
display: grid;
grid-template-columns: 10% 10%;

}

.container--botao{
background-color: var(--botao-destaque);
  color: var(--cor-principal);
padding: 1em;
border-radius: 100px;
text-decoration: none;
display: block;
}
