:root{
 --cor-principal: #ffffff;
--cor-secundaria: #c0c0c0;
--botao-destaque: #167bf7;
--cor-de-fundo: #00030c;
}




*{
margin: 0%;
padding: 0%;

}



.principal{
background-image: url("img/grand-theft-auto-5-logo-54E30512F6-seeklogo\ 1.png");  
background-size: contain;
background-repeat:no-repeat;
}
.container{
height: 100vh;
width: 1;


}



